@model IEnumerable<Database.Entities.Appointment>

<table class="data table table-striped no-margin">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date</th>
        <th>Time</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Patient.User.FirstName</td>
            <td>@item.Patient.User.LastName</td>
            <td>@item.StartTime?.ToString("MMM")-@item.StartTime?.ToString("d ")-@item.StartTime?.ToString("yyyy")</td>
            <td>@item.StartTime?.ToString("HH:mm")</td>
        </tr>
    }

</table>
