@using Database.Entities;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (User.Identity.IsAuthenticated && SignInManager.IsSignedIn(User))
{
	@*@Html.ActionLink("Profile", "UpdateProfile", "Account", routeValues: new { UserId = User.Identity.GetUserId() }, htmlAttributes: new { title = "Update" })*@
	@*ApplicationUser user = new ApplicationUser();
	<div class="nav-item dropdown">
		<a asp-controller="Account" asp-action="UpdateProfile" asp-route-id="@user.Id" class="nav-link btn btn-outline-info dropdown-toggle "
		id="navbarDropdown" role="button"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<img src="~/images/doctor.png"
		class="rounded-circle"
		height="22"
		alt="Portrait of a User"
		loading="lazy" /> Hello @(User.FindFirst("UserFirstName").Value+ " " + User.FindFirst("UserLastName").Value)
		</a>
		<div class="dropdown-menu">
				<div>
					<ul class="navbar-nav">
						<li>
							
						<form asp-controller="Account" asp-action="UpdateProfile" asp-route-id="@user.Id">
									<button type="submit" class="btn btn-light" style="width:10em">
										<i class="fa fa-user"> </i>  <span>Profile</span>
									</button>
							</form>
						</li>
					</ul>
				</div>
				<div>
					<ul class="navbar-nav">
						<li class="nav-item">
							<form asp-controller="Account" asp-action="Logout">
								<button type="submit" class="btn btn-dark" style="width:10em">
									<i class="fa fa-sign-out" aria-hidden="true"></i>  <span>Logout</span>
								</button>
							</form>
						</li>
					</ul>
				</div>

			<div class="dropdown-divider"></div>
			<a class="dropdown-item btn-outline-danger" asp-controller="Account" asp-action="LogOut" onclick="ConfirmLogout()">
			<i class="fa fa-sign-out" aria-hidden="true"></i>
			<span>
			Log Out
			</span>
			</a>
		</div>
	</div>*@
	<a class="btn btn-outline-secondary text-white">
		Hello @(User.FindFirst("UserFirstName").Value + " " + User.FindFirst("UserLastName").Value)
	</a>
		<span style="padding-left:10px"></span>
	<a id="confirmBtn" class="js-logout" asp-controller="Account" asp-action="Logout" onclick="ConfirmLogout()">
		<i class="fa fa-sign-out" aria-hidden="true"></i>
		<span>
			Log Out
		</span>
	</a>
	
}
else
{
	<a asp-controller="Account" asp-action="Login">
		<i class="fa fa-sign-in" aria-hidden="true"></i>
		<span>
			Login
		</span>
	</a>
	<a asp-controller="Account" asp-action="RegisterOfUser">
		<i class="fa fa-user" aria-hidden="true"></i>
		<span>
			Sign Up
		</span>
	</a>

}

<script>
	document.getElementById('confirmBtn').addEventListener('click', function () {
		bootbox.confirm({
			message: 'Are You Sure to Log Out?',
			buttons: {
				confirm: {
					label: 'Yes',
					className: 'btn-danger'
				},
				cancel: {
					label: 'No',
					className: 'btn-outline-secondary'
				}
			},
			callback: function (result) {
				if (result) {
					console.log('User clicked Yes');
					// Perform action if user clicks Yes
				} else {
					console.log('User clicked No');
					// Perform action if user clicks No or closes the dialog
				}
			}
		});
	});
	function ConfirmLogout() {
		document.getElementsByClassName("");
		var accept = confirm("Are You Sure to Log Out?");
		if (accept == false) {
			event.preventDefault();
		}
	}
	

	//document.getElementById('confirmBtn').addEventListener('click', function () {
	//	bootbox.confirm({
	//		message: 'Are You Sure to Log Out?',
	//		buttons: {
	//			confirm: {
	//				label: 'Yes',
	//				className: 'btn-danger'
	//			},
	//			cancel: {
	//				label: 'No',
	//				className: 'btn-outline-secondary'
	//			}
	//		},
	//		callback: function (result) {
	//			if (result) {
	//				console.log('User clicked Yes');
	//				// Perform action if user clicks Yes
	//			} else {
	//				console.log('User clicked No');
	//				// Perform action if user clicks No or closes the dialog
	//			}
	//		}
	//	});
	//});
</script>